<%- include('./layouts/header') %>

<div class="row justify-content-center">
    <div class="col-6 mt-5">
        <div class="card border-info">
            <div class="card-header"><h5>Create Department</h5></div>
            <div class="card-body">
                <form action="/department/create" method="post">
                    <div class="mb-3">
                        <label for="department" class="form-label">Department </label>
                        <input type="text" value="" name="name" class="form-control" id="department" >
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
    

<!-- input footer file -->
<%- include('./layouts/footer') %>