<!-- input header file -->
<%- include('./layouts/header') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 mt-5 pt-5 text-center">
            <h1 class="text-info fw-bold mb-5" >Hello <%= user.role %> </h1>
            <h3 class="mb-3">The Leading Employee Management Platform</h3>
            <p class="text-info fs-5 text-break">Create a cycle of performance management and personalised learning that powers employee engagement and the success of your business</p>
        </div>
    </div>
</div>

<!-- input footer file -->
<%- include('./layouts/footer') %>