<%- include('./layouts/header') %>

<div class="row justify-content-center">
    <div class="col-6 mt-5">
        <div class="card border-info">
            <div class="card-header"><h2>Register</h2></div>
            <div class="card-body">
                <form action="/auth/register" method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" name="email" value="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                        <input type="password" name="password2" class="form-control" id="exampleInputPassword2">
                    </div>
                    <div class="mb-3">
                        <label for="department" class="form-label">Department </label>
                        <select name="department"" class="form-select" aria-label="Default select example">
                            <option selected value="">Department</option>
                            <% depatrments.forEach(depatrment => { %>
                                <option value="<%= depatrment._id %>"><%= depatrment.name %> </option>
                            <% }) %>
                        </select>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="department" class="form-label">Department </label>
                        <input type="text" value="" name="department" class="form-control" id="department" >
                    </div> -->
                    <button type="submit" class="btn btn-primary">Register</button>
                    <div class="mt-3">
                        <p class="form-text">Already Have an account? <span class="text-primary"><a href="/auth/login">login</a></span></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>


<!-- input footer file -->
<%- include('./layouts/footer') %>